@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,900&family=Baloo+2:wght@772&display=swap');

.filter-bar {
  position: sticky;
  top: 10vh; /* Adjust based on your layout */
  background-color: #fff;
  text-align: left;
  padding: 2vh;
  width: 25vh;
  height: 80vh;
  font-family: "Asap";
  color: #117df3;
  overflow-y: auto;
}

.filter-bar h4 {
  font-size: 2.8vh;
  font-weight: 300;
  margin-bottom: 2vh;
  text-align: center;
}

.filter-bar ul {
  list-style-type: none;
  padding: 0;
  font-size: 2vh;
  font-weight: 300;
}

.filter-bar ul li {
  margin-bottom: 3.5vh;
}

/* Price Range Container */
.price-range {
  font-size: 1.8vh;
}

.price-range span {
  display: block;
  margin-bottom: 1vh;
  font-size: 2vh;
  color: #117df3;
  font-weight: bold;
}

.input-range__track {
  background: #ddd !important; 
}

.input-range__track--active, .input-range__slider {
  background: #117df3 !important;
}

/* Dropdown styles */
select {
  width: 100%;
  padding: 0.2vh;
  font-size: 1.8vh;
  font-family: "Asap", serif;
  font-weight: 300;
  color: #117df3;
  background: #f8f9fa;
  border: 0.2vh solid #000;
  border-radius: 1vh;
  outline: none;
  cursor: pointer;
  transition: background 0.3s ease, border-color 0.3s ease;
}

select:hover {
  background: #e7f3ff;
  border-color: #0f5fd1;
}

select:focus {
  background: #ffffff;
  border-color: #0f5fd1;
}

option {
  font-size: 1.8vh;
  padding: 0.5vh;
  background: #ffffff;
  color: #117df3;
  cursor: pointer;
}

.filters-btn {
  width: 100%;
  padding: 1vh 1vh;
  font-size: 2vh;
  font-family: "Asap", serif;
  font-weight: 500;
  color: #117df3;
  background: #fff;
  border-radius: 1vh;
  border: 0.2vh solid #117df3;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2vh;
}

.filters-btn:hover {
  background-color: #e7f3ff;
}

.sort-by-list {
  margin-top: 0.8vh;
}

