<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendita - Thrift Market</title>
    <link rel="stylesheet" href="{% static 'market/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to Thrifty</h1>
        <p>Your go-to marketplace for thrifted and preloved items.</p>
    </header>
    <section>
        <a href="#" class="button">Browse Items</a>
        <a href="#" class="button">Sell Your Item</a>
    </section>
</body>
</html>
